
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../../assets/img/favicon.png">
  <title>
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../../../../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../../../../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <script src="
https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/js/jquery.dataTables.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/css/jquery.dataTables.min.css
" rel="stylesheet">
</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include ('./partials/sideadmin') %>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <%- include ('./partials/topadmin') %>
    <!-- End Navbar -->
    <div class="container-fluid">
      <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../../../../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
        <span class="mask  opacity-6"></span>
        <div >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"> Detail Activity KPI</li>
            </ol>
          </nav>
        </div>
      </div>
    
    </div>
    <div class="container-fluid py-4">
      <%- include('./partials/messages') %>
      <div class="col-12 mt-4">
        <div class="card-body ">
         
          <% if(dactone){%>
            <div class="d-flex flex-column h-100" style="text-transform: uppercase;">
              <h3 class="mb-1 pt-2 text-bold"> Activity Infos</h3>
              <h5 class="font-weight-bolder"> Activity  Title:<%= dactone.dactivitytitle %></h5>
              <h5 class="font-weight-bolder"> Activity  Code:<%= dactone.dactivitycode %></h5>
              <p class="mb-2"> Activity Duration &nbsp;<%= dactone.dactivityduration %> Days</p>
              <p><h3>TOTAL BUDGET:= <span style="text-transform: uppercase; font-weight: 200;"> 
                <%= budgetsummery == null || budgetsummery=== "" ? 0 : budgetsummery %> ETBIRR

              </span></h3></p>
              <p class="text-body text-sm font-weight-bold mb-0">
             From: <%=  new Date(dactone.startdate).toLocaleDateString() %>
             To: <%= new Date(dactone.enddate).toLocaleDateString() %></p>
     
              </p>
            
            </div>
          <%} %>
          </div>
          </div>
    </div>
    <div class="container-fluid">
    
      <div class="col-12 ">
        <div class="card mb-4">
          <div class="card-header pb-0 ">
            
            
          </div>
          <div class="card-body ">
            <div class="row">
          
             <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      <h6 class="mb-1"> Activity KPIs</h6>
                      <p class="text-sm">Existing All KPIs</p>
                    </div>
                    <div class="col-lg-6 col-5 my-auto text-end">
                      <div class="row">
                        <div class="col-md-12">
                         <button  class="btn btn-outline-primary btn-sm mb-0" data-toggle="modal" data-target="#myModal" data-toggler="<%= dactone.dactivityid %>" data-toggler5="<%= dactone.mactivityid %>"  data-toggler3="<%= dactone.dactivitycode %>" data-toggler2="<%= dactone.dactivitytitle %>" data-toggler4="<%= dactone.dactivitydescription %>" >
                           Set  KPI For Activity
                         </button> 
                        </div>  
                        <!-- <div class="dropdown float-lg-end pe-4">
                          <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                          </a>
                          <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Print</a></li>
                           
                          </ul>
                        </div> -->
                       <!-- <div class="col-md-6">
                         <form action="/stvcpms/showprogressreport/<%= dactone.dactivityid %>" method="post">
                           <input type="hidden" name="planid" value="<%= plan.planid %>">
                           <input type="hidden" name="mactivityid" value="<%= dactone.mactivityid %>">
                           <button type="submit" class="btn btn-sm btn-outline-info">Show Progress Report</button>
                         </form> 
                       </div> -->
                       </div>
                    
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 ">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="myTable">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Output</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Target Group</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Indicator</th>

                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Input</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">KPI</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Registered Risk</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(dkpi.length >0){%>
                          <% var i=0 %>
                          <% dkpi.forEach(function (row){ %>
                          <%i++ %>
                        <tr>
                          <td><%= i %></td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm"><%var dact= row.mactivityid %>
                              <% if(allmact.length >0){%>
                               <% allmact.forEach(function(row){%>
                                     <% if(row.mactivityid === dact){%>
                                      <%= row.mactivitytitle %>
                                     
                               <%}})%>
                              <%}%>
                              
                              
                              </h6>
                            </div>
                            
                          </td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm"><%var dpt= row.dacttgroup %>
                              <% if(dept.length >0){%>
                               <% dept.forEach(function(row){%>
                                     <% if(row.targetgid === dpt){%>
                                      <%= row.targetgroupname %>
                                     
                               <%}})%>
                              <%}%>
                              
                              
                              </h6>
                            </div>
                            
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                            <span class="text-xs font-weight-bold"><%= row.dacttindicator %> </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                            <span class="text-xs font-weight-bold"><%= row.dacttinputtype %> </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                            <span class="text-xs font-weight-bold"><%= row.dactkpi %> </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                            <span class="text-xs font-weight-bold"><%= row.dactregisteredrisk %> </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                           
                            <span class="text-xs font-weight-bold"><%= row.budget == null || row.budget === "" ? 0 : row.budget %> ETBIRR
                            </span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <form action="/stvcpms/deletedetailactivitykpi/<%= row.id %>" method="post">
                              <input type="hidden" name="planid" value="<%= plan.planid %>">
                              <input type="hidden" name="mactivityid" value="<%= dactone.mactivityid %>">
                              <input type="hidden" name="dactivityid" value="<%= dactone.dactivityid %>">
                              <button type="submit" class="btn btn-sm btn-outline-danger">Delete KPI</button>
                            </form>
                                    
                       
                          </td>
                        </tr>
                        <% })}else{ %>
                          <label>No KPIs Found</label>
                         <%} %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           
            
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="modal" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add KPI(Key Perfromance Indicator For Activity)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          
    
            <form action="/stvcpms/addkpifordetailactivity" method="post">
              <div class="modal-body">
            
                  <div class="d-flex flex-column ">
                    <p class="mb-1 pt-2 text-bold"><small> Activity Infos</small></p>
                  <small> Activity Title:<span class="title"></span></small>
                    <small> Activity Code:<span class="acode"></span></small>
                    <p class="mb-2"><small> Activity Description:<span class="adescription"></span></small></p>
             
                  </div>
              
                <input type="hidden" class="js-toggler__input" value="" name="dactivityid" >
                <input type="hidden" class="majorid" value="" name="mactivityid" >
                <input type="hidden" name="sdirid" value="<%= allmact.sdirid %>">
                <input type="hidden" name="planid" value="<%= planid %>">
                <div class="row">
                  <div class="col-md-4">
                    <label>Target Group</label>
                 <select class="form-control" name="targetgroup" id="targetgroup">
                  <option value="0">Please select target group here</option>
                  <% if(targetgrouplist.length>0){ %>
                   <% targetgrouplist.forEach(function(row){ %>
                      <option value="<%= row.targetgid %>"><%= row.targetgroupname %></option>
                   <% })%>
                 <% }else {%>
                  <label>No major activities where found</label>
                  <%} %>
                 </select>
                  </div>
                  <div class="col-md-4">
                    <label>Target Indicator</label>
                    <select class="form-control" name="targetindicator" id="targetindicator">
                     <option value="0">Please select indicator here</option>
                     <% if(activityindicator.length>0){ %>
                      <% activityindicator.forEach(function(row){ %>
                         <option value="<%= row.activityindicatorname %>"><%= row.activityindicatorname %></option>
                      <% })%>
                    <% }else {%>
                     <label>No activity indicators where found</label>
                     <%} %>
                    
                    </select>
                  </div>
                 
                  <div class="col-md-4">
                    <label>Input Type</label>
                    <select class="form-control" id="dactinputtype" name="dactinputtype">
                     <option value="0">Please select input type indicator here</option>
                     <option value="Number">Number</option>
                     <option value="Ratio">Ratio</option>
                     <option value="APN">APN</option>
                     <option value="Text">Text</option>
                     <option value="Percent">Percent</option>
                  
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Total KPI<code>Use Description If Input Is Not Number</code></label>
                    <input type="text" class="form-control mb-2" id="dactkpi" name="dactkpi"
                     placeholder="KPI" aria-label="Name" aria-describedby="email-addon">
             
                  </div>
                  <div class="col-md-6">
                    <label>Total Budget</label>
                    <input type="number" class="form-control mb-2" id="budget" name="budget"
                     placeholder="Budget" aria-label="Name" aria-describedby="email-addon">
             
                  </div>
                 </div>
                 <div class="row">
                  <label>Detail KPI in months</label>
                  <div class="col-md-6">
                    <label>Month</label>
                    <select class="form-control" id="month" name="month">
                     <option value="0">Please select month here</option>
                     <option value="january">January</option>
                     <option value="february">February</option>
                     <option value="march">March</option>
                     <option value="april">April</option>
                     <option value="may">May</option>
                     <option value="june">June</option>
                     <option value="july">July</option>
                     <option value="augest">Augest</option>
                     <option value="september">September</option>
                     <option value="october">October</option>
                     <option value="november">November</option>
                     <option value="december">December</option>
                  
                    </select>
                  </div>
      
                  <div class="col-md-6">
                    <label>Monthly KPI<code>Use Description If Input Is Not Number</code></label>
                    <input type="text" class="form-control mb-2" id="dactkpidetail" placeholder="KPI" aria-label="Name" aria-describedby="email-addon">
             
                  </div>
                 </div>
                   <input type="hidden" id="criteria" name="criteria">
                 <div class="col-md-6 offset-md-3 form-check form-check-primary">
                   <ul class="" id="list">
                    </ul>
                 </div>
                 <button type="button" id="add" class="btn btn-secondary btn-block" >Add</button>
                 <textarea type="text" class="form-control  mb-2 mt-2" id="registeredrisk" name="registeredrisk" placeholder="Associated Risk" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
                 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const monthKPI = []; // Initialize an empty array to store JSON objects
      
          document.getElementById("add").addEventListener("click", function () {
            var dactkpiInput = document.getElementById("dactkpidetail");
            var dactkpidetail = document.getElementById("dactkpidetail").value;
            var month = document.getElementById("month").value;
      
            if (month !== "0" && dactkpidetail) {
              // Check if the month already exists
              const existingObjectIndex = monthKPI.findIndex(obj => obj.month === month);
      
              if (existingObjectIndex === -1) {
                var monthKPIList = {};
                monthKPIList[month] = dactkpidetail;
                monthKPI.push(monthKPIList);
      
                // Append the JSON object to the list
                const listItem = document.createElement("li");
                listItem.innerHTML = `<input type='checkbox' class='form-check-input' checked > ${month} ${dactkpidetail} <span class='removeItem' style='color:red' data-rowMaterialId='${month}'>Remove</span>`;
                document.getElementById("list").appendChild(listItem);
      
                // Update the hidden input field with the array of objects
                updateRowMaterialAmountArray();
      
                // Clear the input fields
                dactkpiInput.value = "";
                document.getElementById("month").value = "0";
              }
            }
          });
      
          document.getElementById("list").addEventListener("click", function (event) {
            if (event.target.classList.contains("removeItem")) {
              const rowMaterialIdToRemove = event.target.getAttribute("data-rowMaterialId");
      
              // Remove the item from the array
              const indexToRemove = monthKPI.findIndex(item => item.month === rowMaterialIdToRemove);
              if (indexToRemove !== -1) {
                monthKPI.splice(indexToRemove, 1);
      
                // Update the hidden input field with the updated array of objects
                updateRowMaterialAmountArray();
      
                // Remove the list item from the DOM
                event.target.parentElement.remove();
              }
            }
          });
      
          // Function to update the hidden input field with the array of objects
          function updateRowMaterialAmountArray() {
            document.getElementById("criteria").value = JSON.stringify(monthKPI);
          }
        });
      </script>
<script>
  const startDateInput = document.getElementById('startDateInput');
  const endDateInput = document.getElementById('endDateInput');
  
  startDateInput.addEventListener('focus', function() {
    startDateInput.type = 'date';
  });
  
  startDateInput.addEventListener('blur', function() {
    if (startDateInput.value === '') {
      startDateInput.type = 'text';
    }
  });
 
  endDateInput.addEventListener('focus', function() {
    endDateInput.type = 'date';
  });
  
  endDateInput.addEventListener('blur', function() {
    if (endDateInput.value === '') {
      endDateInput.type = 'text';
    }
  });
</script>
     <%- include ('./partials/footer') %>
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="../../../../assets/js/core/popper.min.js"></script>
  <script src="../../../../assets/js/core/bootstrap.min.js"></script>
  <script src="../../../../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../../../../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
 
 <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

  <script>
    $('[data-toggle="modal"]').on('click', function () {
      const toggler = $(this);
      const toggler_identifier = toggler.attr('data-toggler');
      const toggler_identifier2 = toggler.attr('data-toggler2');
      const toggler_identifier3 = toggler.attr('data-toggler3');
      const toggler_identifier4 = toggler.attr('data-toggler4');
      const toggler_identifier5 = toggler.attr('data-toggler5');
      console.log(toggler_identifier3);
      let modal_id = toggler.attr('data-target');
      $(modal_id).find('.js-toggler__input').val(toggler_identifier);
      $(modal_id).find('.title').html(toggler_identifier2);
      $(modal_id).find('.acode').text(toggler_identifier3);
    $(modal_id).find('.adescription').text(toggler_identifier4);
    $(modal_id).find('.majorid').val(toggler_identifier5);
    
  });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../../../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
  </script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  
  
</body>

</html>