
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../../assets/img/favicon.png">
  <title>
 
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../../../../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../../../../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-CjA6pIB+RL8C9DeCofkgGH5GC5FVbASs43Q4K1r60GX6yQ1h4cG+eXMEWOEMDzQDf1/6ZulbptqPafVPPxAPJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="g-sidenav-show  bg-gray-100">
  <%- include ('./partials/sideadmin')%>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <%- include ('./partials/topadmin')%>
    <!-- End Navbar -->
    <div class="container-fluid">
        <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../../../../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
          <span class="mask  opacity-6"></span>
          <div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Progress Report</li>
              </ol>
            </nav>
          </div>
        </div>
      
      </div>
      <div class="container-fluid py-4">
         

        <div class="col-12 ">
          <div class="card-body ">
            <% if(plan){ %>
              <div class="d-flex flex-column h-100">
                <p class="mb-1 pt-2 text-bold" style="color: #007bff; font-size: 18px; font-weight: bold;">
                  <i class="fas fa-info-circle"></i> Plan Infos
                </p>
                <h5 class="font-weight-bolder" style="color: #333; font-size: 24px;"><i class="fas fa-bookmark"></i> Plan Title: <%= plan.plantitle %></h5>
                <h5 class="font-weight-bolder" style="color: #333; font-size: 20px;"><i class="fas fa-tag"></i> Plan Code: <%= plan.plancode %></h5>
                <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-file-alt"></i> <strong>Discription:</strong> <%= plan.plandescription %></p>
                <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-calendar-day"></i> Duration: <%= plan.planduration %> Days</p>
                <p class="text-body text-sm font-weight-bold mb-0" style="color: #555; font-size: 14px;">
                  <i class="fas fa-calendar"></i> From:
                  <span class="ml-1">
                    <%= new Date(plan.startdate).toLocaleDateString() %> 
                    <i class="fas fa-long-arrow-alt-right mx-1"></i> 
                    <%= new Date(plan.enddate).toLocaleDateString() %>
                  </span>
                </p>
              </div>
            <% } %>
            
            </div>
            </div>
      </div>
    <div class="container-fluid py-4">
     
 
    
      <div class="row ">
       
        <div class="col-lg-12  ">
          <div class="card ">
            <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6 col-7">
                    <h6>Detail Progress Report</h6>
                  
                  </div>
                  <div class="col-lg-6 col-5 my-auto text-end">
                    <div class="dropdown float-lg-end pe-4">
                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-secondary"></i>
                      </a>
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                        <li>
                          <form action="/stvcpms/downloaddetailplan" method="post">
                            <input type="hidden" name="planid" value="<%= plan.planid %>" >
                            <input type="hidden" name="dactivityid" value="<%= dact.dactivityid %>" >
                            <input type="hidden" name="reporttype" value="<%= reporttype %>">
                            <input type="hidden" name="target" value="<%= target %>">
                            <input type="hidden" name="reporttypeinput" value="<%= reporttypeinput %>">
                            <input type="hidden" name="department" value="<%= department %>"> 
                            <input type="hidden" name="departmentname" value="<%= departmentname %>"> 
                            <button type="submit" class="dropdown-item border-radius-md"><i class="fas fa-print"></i></button>
                          </form>
                        
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                  
                      <% if(dact){ %>
                        <div class="d-flex flex-column h-100">
                          <p class="mb-1 pt-2 text-bold" style="color: #007bff; font-size: 18px; font-weight: bold;">
                            <i class="fas fa-info-circle"></i> Report Infos
                          </p>
                          <h5 class="font-weight-bolder" style="color: #333; font-size: 24px;"><i class="fas fa-bookmark"></i> Activity Title: <%= dact.dactivitytitle %></h5>
                          <h5 class="font-weight-bolder" style="color: #333; font-size: 20px;"><i class="fas fa-tag"></i> Activity Code: <%= dact.dactivitycode %></h5>
                          <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-file-alt"></i> <strong>Discription:</strong> <%= dact.dactivitydescription %></p>
                          <p class="mb-2"><strong>Registered Risk</strong> &nbsp;<%= dact.dactivityrisks %> </p>
                          <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-calendar-day"></i> Duration: <%= dact.dactivityduration %> Days</p>
                          <p class="text-body text-sm font-weight-bold mb-0" style="color: #555; font-size: 14px;">
                            <i class="fas fa-calendar"></i> From:
                            <span class="ml-1">
                              <%= new Date(plan.startdate).toLocaleDateString() %> 
                              <i class="fas fa-long-arrow-alt-right mx-1"></i> 
                              <%= new Date(plan.enddate).toLocaleDateString() %>
                            </span>
                          </p>
                        </div>
                      <% } %>
                  </div>
                </div>
              </div>
            <div class="card-body p-5">
              <div class="timeline timeline-one-side" style="width: 100%;">
                <% if(progress.length >0){ %>
                    <% var j = 0 ;%>
                 <% progress.forEach(function (row){%>
                      <% j++ %>
                   <div class="">
                    <div class="timeline-block mb-3">
                        <span class="timeline-step">
                          <i class="ni ni-bell-55 text-success text-gradient"></i>
                        </span>
                        <div class="timeline-content">
                            <div class="" style="background-color: yellow;"> <%= row.reporttype %> - <span style="text-transform: uppercase;"><%= row.reportmnthquarter %></span> Report</div>
                            <div class="progress-card">
                              <!-- Card Content -->
                              <div class="card-content" style="text-transform: uppercase;">
                                  <p><i class="fas fa-info-circle me-2"></i> Info:</p>
                                  <p><i class="fas fa-user me-2"></i> Report By: <%= row.targetgroupname %></p>
                                  <p><i class="fas fa-chart-bar me-2"></i> Indicator: <%= row.dacttindicator %></p>
                                  <p><i class="fas fa-keyboard me-2"></i> Input: <%= row.dacttinputtype %></p>
                                  <p><i class="fas fa-plus me-2"></i> Added Value: <%= row.number %></p>
                                  <p><i class="fas fa-percent me-2"></i> Progress: <%= row.percent %></p>
                                  <p><i class="fas fa-ratio me-2"></i> Ratio: <%= row.ratio %></p>
                              </div>
                          
                              <!-- Report Section -->
                              <div class="col-md-12" style="width: 100%;">
                                  <label class="btn-outline-info"><i class="fas fa-file-alt me-2"></i> Report:</label>
                                  <p><%= row.progressreport %></p>
                          
                                  <label class="btn-outline-info"><i class="fas fa-comment me-2"></i> Remark:</label>
                                  <p><%= row.remark %></p>
                          
                                  <hr class="horizontal dark mt-0">
                              </div>
                          
                              <!-- Card Footer -->
                              <div class="card-footer float-lg-end">
                                  <p><i class="fas fa-calendar-alt me-2"></i> Report Date: <%= new Date(row.reportdate).toLocaleDateString() %></p>
                              </div>
                          </div>
                          
                        </div>
                      </div>
                   </div>
                 
                    <%})}else{}%>
                
              </div>
            </div>
          </div>
        </div>
      </div>
   <%- include ('./partials/footer') %>
    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="../../../../assets/js/core/popper.min.js"></script>
  <script src="../../../../assets/js/core/bootstrap.min.js"></script>
  <script src="../../../../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../../../../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../../../../assets/js/plugins/chartjs.min.js"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>