
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include ('./partials/sideadmin') %>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <%- include ('./partials/topadmin') %>
    <!-- End Navbar -->
    <div class="container-fluid">
      <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
        <span class="mask  opacity-6"></span>
        <div >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"> <% if(tag ==="sg"){%>
                <h6 class="mb-1">Goal</h6>
             
              <%}else if(tag ==="sd"){%>
                <h6 class="mb-1">Outcome</h6>
               
              <%}else if(tag === "ma"){%>
                <h6 class="mb-1">Output</h6>
              
              <%}else if(tag ==="da"){%>
                <h6 class="mb-1">Activity</h6>
             
              <%}%></li>
            </ol>
          </nav>
        </div>
      </div>
    
    </div>
    <div class="container-fluid py-4">
      <%- include('./partials/messages') %>
      <div class="col-12 mt-4">
        <div class="card-body ">
          <% if(plan){ %>
            <div class="d-flex flex-column h-100">
              <p class="mb-1 pt-2 text-bold" style="color: #007bff; font-size: 18px; font-weight: bold;">
                <i class="fas fa-info-circle"></i> Plan Infos
              </p>
              <h5 class="font-weight-bolder" style="color: #333; font-size: 24px;"><i class="fas fa-bookmark"></i> Plan Title: <%= plan.plantitle %></h5>
              <h5 class="font-weight-bolder" style="color: #333; font-size: 20px;"><i class="fas fa-tag"></i> Plan Code: <%= plan.plancode %></h5>
              <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-file-alt"></i> <strong>Discription:</strong> <%= plan.plandescription %></p>
              <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-calendar-day"></i> Duration: <%= plan.planduration %> Days</p>
              <p class="text-body text-sm font-weight-bold mb-0" style="color: #555; font-size: 14px;">
                <i class="fas fa-calendar"></i> From:
                <span class="ml-1">
                  <%= new Date(plan.startdate).toLocaleDateString() %> 
                  <i class="fas fa-long-arrow-alt-right mx-1"></i> 
                  <%= new Date(plan.enddate).toLocaleDateString() %>
                </span>
              </p>
            </div>
          <% } %>
          
          </div>
          </div>
    </div>
    <div class="container-fluid">
    
      <div class="col-12 ">
        <div class="card mb-4">
          <div class="card-header pb-0 ">
         
          </div>
          <div class="card-body ">
            <div class="row">
          
             <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                   
                      <% if (tag === "sg") { %>
                        <div class="tag-container">
                          <h6 class="mb-1 text-primary">Goal</h6>
                          <p class="text-sm">Explore existing  goals.</p>
                        </div>
                      <% } else if (tag === "sd") { %>
                        <div class="tag-container">
                          <h6 class="mb-1 text-success">Outcome</h6>
                          <p class="text-sm">Discover existing outcomes.</p>
                        </div>
                      <% } else if (tag === "ma") { %>
                        <div class="tag-container">
                          <h6 class="mb-1 text-warning">Output</h6>
                          <p class="text-sm">Review all outputs.</p>
                        </div>
                      <% } else if (tag === "da") { %>
                        <div class="tag-container">
                          <h6 class="mb-1 text-danger">Activity</h6>
                          <p class="text-sm">Browse all  activities.</p>
                        </div>
                      <% } %>
                      
           
                    </div>
                    <div class="col-lg-6 col-5 my-auto text-end">
                      <div class="dropdown float-lg-end pe-4">
                        <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Print</a></li>
                         
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 ">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Add</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(sgoal.length >0){%>
                          <% sgoal.forEach(function (row){ %>
                       <% function addBrTags(inputString, charsPerLine) {
                        var outputString = '';
                        for (var i = 0; i < inputString.length; i++) {
                            outputString += inputString.charAt(i);
                            if ((i + 1) % charsPerLine === 0) {
                                outputString += '<br>';
                            }
                        }
                        return outputString;
                       } %>
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <% if (tag === "sg") { %>
                                  <i class="fas fa-bullseye  me-3"></i>
                                <% } else if (tag === "sd") { %>
                                  <i class="fas fa-compass  me-3"></i>
                                <% } else if (tag === "ma") { %>
                                  <i class="fas fa-cogs  me-3"></i>
                                <% } else if (tag === "da") { %>
                                  <i class="fas fa-tasks  me-3"></i>
                                <% } %>
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">
                                  <% 
                                  var originalStringsg = row.sgoaltitle || ''; 
                                  var originalStringsd = row.sdirtitle || '';
                                  var originalStringma = row.mactivitytitle || '';
                                  var originalStringda = row.dactivitytitle || '';
                                  var stringWithBrTagsg = addBrTags(originalStringsg, 30);
                                  var stringWithBrTagsd = addBrTags(originalStringsd, 30);
                                  var stringWithBrTagma = addBrTags(originalStringma, 30);
                                  var stringWithBrTagda = addBrTags(originalStringda, 30);
                                  %>
                                  <%- stringWithBrTagsg %><br><%- stringWithBrTagsd %><br><%- stringWithBrTagma %><br><%- stringWithBrTagda %>
                                </h6>
                              </div>
                            </div>
                            
                          </td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">
                                <% var doriginalStringsg =  row.sgoaldescription || ''; 
                                var doriginalStringsd = row.sdirdescription || ''; 
                                var doriginalStringma = row.mactivitydescription || ''; 
                                var doriginalStringda = row.dactivitydescription || ''; 
                                var dstringWithBrTagsg = addBrTags(doriginalStringsg, 30);
                                var dstringWithBrTagsd = addBrTags(doriginalStringsd, 30);
                                var dstringWithBrTagma = addBrTags(doriginalStringma, 30);
                                var dstringWithBrTagda = addBrTags(doriginalStringda, 30);
                                
                                %>
                                <%- dstringWithBrTagsg %><%- dstringWithBrTagsd %><%- dstringWithBrTagma %><%- dstringWithBrTagda %>
                              </h6>
                            </div>
                            
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> From <%= new Date(row.startdate).toLocaleDateString() %> To <%= new Date(row.enddate).toLocaleDateString() %></span><br>
                            <span class="text-xs font-weight-bold"><%= row.sgoalduration %><%= row.sdirduration %><%= row.mactivityduration %><%= row.dactivityduration %> &nbsp; Days. </span>
                          </td>
                          <td class="align-middle">
                            <div class="progress-wrapper w-75 mx-auto">
                            
                              <% var date = new Date().getTime() %>
                              <% var dt= new Date(row.enddate).getTime() %>
                              <% if(tag ==="sg"){%>
                               <% if( dt > date) {%>
                                <div class="progress-info">
                                  <div class="progress-percentage">
                                    <span class="text-xs font-weight-bold">On Progress</span>
                           
                                  </div>
                                </div>
                                <div class="progress">
                                  <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <%}else{%>
                                  
                                  <div class="progress-info">
                                    <div class="progress-percentage">
                                      <span class="text-xs font-weight-bold">Late</span>
                                    </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                <%}%>
                              <%}else if(tag ==="sd"){%>
                                <% if(dt > date) {%>
                                  <div class="progress-info">
                                    <div class="progress-percentage">
                                      <span class="text-xs font-weight-bold">On Progress</span>
                                      
                                    </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <%}else{%>
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">Late</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  <%}%>
                              <%}else if(tag === "ma"){%>
                                <% if(dt > date) {%>
                                  <div class="progress-info">
                                    <div class="progress-percentage">
                                      <span class="text-xs font-weight-bold">On Progress</span>
                                    </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <%}else{%>
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">Late</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  <%}%>
                              <%}else if(tag ==="da"){%>
                                <% if( dt > date) {%>
                                  <div class="progress-info">
                                    <div class="progress-percentage">
                                      <span class="text-xs font-weight-bold">On Progress</span>
                                    </div>
                                  </div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <%}else{%>
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold">Late</span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  <%}%>
                              <%}%>
                            </div>
                          </td>
                        
                          <td class="align-middle text-center text-sm">
                           
                            <% if(tag ==="sg"){%>
                              <div id="confirmationPopup" style="display: none; right: 5px;width: 300px; background-color: white; border: 1px solid black; padding: 4px;">
                                <p>Are you sure you want to delete this?</p>
                                <button onclick="deleteItem()" class="btn btn-sm btn-danger">Yes</button>
                                <button onclick="hideConfirmation()" class="btn btn-sm btn-secondary">No</button>
                            </div>
                              <form id="deleteForm" action="/stvcpms/deletestrategicgoal/<%= row.sgoalid %>" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <button type="button" onclick="showConfirmation()" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            
                            
                            
                            
                            
                            <%}else if(tag ==="sd"){%>
                              <form  id="deleteForm"  action="/stvcpms/deletestrategicdirection/<%= row.sdirid %>" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="sgoalid" value="<%= plan.sgoalid %>">
                                <button type="button" onclick="showConfirmation()" class="btn btn-sm btn-danger">Delete</button>
                              </form>
                              <div id="confirmationPopup" style="display: none; right: 5px;width: 300px; background-color: white; border: 1px solid black; padding: 4px;">
                                <p>Are you sure you want to delete this?</p>
                                <button onclick="deleteItem()" class="btn btn-sm btn-danger">Yes</button>
                                <button onclick="hideConfirmation()" class="btn btn-sm btn-secondary">No</button>
                            </div>
                            <%}else if(tag === "ma"){%>
                              <!-- <form action="/stvcpms/viewmajoractivitykpi/<%= row.mactivityid %>" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <button type="submit" class="btn btn-sm btn-primary">Show KPI</button>
                              </form> -->
                            <%}else if(tag ==="da"){%>
                              <form action="/stvcpms/viewdetailactivitykpi/<%= row.dactivityid %>" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="mactivityid" value="<%= row.mactivityid %>">
                                <button type="submit" class="btn btn-sm btn-primary">Show KPI</button>
                              </form>
                            <%}%>
                       
                          </td>
                          <td class="align-middle text-center text-sm">
                            <% if(tag ==="sg"){%>
                              <form action="/stvcpms/addplanstrategicdirection" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="sgoalid" value="<%= row.sgoalid %>">
                                <button type="submit" class="btn btn-sm btn-info">+Outcome</button>
                              </form>
                            <%}else if(tag ==="sd"){%>
                              <form action="/stvcpms/addplanmajoractivity" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="sdirid" value="<%= row.sdirid %>">
                                <input type="hidden" name="sgoalid" value="<%= row.sgoalid %>">
                                <button type="submit" class="btn btn-sm btn-info">+Output</button>
                              </form>
                            <%}else if(tag === "ma"){%>
                              <form action="/stvcpms/addplandetailactivity" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="mactivityid" value="<%= row.mactivityid %>">
                                <input type="hidden" name="sdirid" value="<%= row.sdirid %>">
                                <input type="hidden" name="sgoalid" value="<%= row.sgoalid %>">
                                <button type="submit" class="btn btn-sm btn-info">+Activity</button>
                              </form>
                            <%}else if(tag === "da"){%>
                              <form action="/stvcpms/viewdetailactivitykpi/<%= row.dactivityid %>" method="post">
                                <input type="hidden" name="planid" value="<%= plan.planid %>">
                                <input type="hidden" name="mactivityid" value="<%= row.mactivityid %>">
                                <button type="submit" class="btn btn-sm btn-info">+ KPI</button>
                              </form>
                            <%} %>
                       
                          </td>
                        </tr>
                        <% })}else{ %>
                          <label>No Details Found</label>
                         <%} %>
                      </tbody>
                      <script>
                        function showConfirmation() {
                            // Show confirmation popup
                            var deleteButton = document.querySelector('.btn-danger');
                            var popup = document.getElementById("confirmationPopup");
                            popup.style.display = "block";
                            popup.style.top = deleteButton.offsetTop + deleteButton.offsetHeight + "px";
                            popup.style.left = deleteButton.offsetLeft + "px";
                        }
                    
                        function deleteItem() {
                            document.getElementById("deleteForm").submit();
                            hideConfirmation();
                        }
                    
                        function hideConfirmation() {
                            document.getElementById("confirmationPopup").style.display = "none";
                        }
                    </script>
                    </table>
                  </div>
                </div>
              </div>
           
            
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="ma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Major Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/stvcpms/addnewmajoractivity" method="post">
        <div class="modal-body">
      
          <input type="text" class="form-control mb-2" name="macttitle" placeholder="Major Activity Title" aria-label="Name" aria-describedby="email-addon">
          <textarea type="text" class="form-control  mb-2" name="mactdescription" placeholder="Description" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
          <input type="text" class="form-control  mb-2" name= "mactcode" placeholder="Code" aria-label="Name" aria-describedby="email-addon">
          <input type="number" class="form-control  mb-2" name="mactduration" placeholder="Duration In Days" aria-label="Name" aria-describedby="email-addon">
          <input type="text" class="form-control  mb-2" name="startdate" id="startDateInput" placeholder="Start Date" >
          <input type="text" class="form-control" name="enddate" id="endDateInput" placeholder="End Date">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="da" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Detail Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/stvcpms/addplandetailactivity" method="post">
      
        <div class="modal-body">
           
         
         <select class="form-control" name="mactivityid">
          <option value="0">Please select major activity here</option>
          <% if(sgoal.length>0){ %>
           <% sgoal.forEach(function(row){ %>
              <option value="<%= row.mactivityid %>"><%= row.mactivitytitle %></option>
           <% })%>
         <% }else {%>
          <label>No major activities where found</label>
          <%} %>
         </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const startDateInput = document.getElementById('startDateInput');
  const endDateInput = document.getElementById('endDateInput');
  
  startDateInput.addEventListener('focus', function() {
    startDateInput.type = 'date';
  });
  
  startDateInput.addEventListener('blur', function() {
    if (startDateInput.value === '') {
      startDateInput.type = 'text';
    }
  });
 
  endDateInput.addEventListener('focus', function() {
    endDateInput.type = 'date';
  });
  
  endDateInput.addEventListener('blur', function() {
    if (endDateInput.value === '') {
      endDateInput.type = 'text';
    }
  });
</script>
     <%- include ('./partials/footer') %>
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>