
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include ('./partials/sideadmin') %>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <%- include ('./partials/topadmin') %>
    <!-- End Navbar -->
    <div class="container-fluid">
        <div class="page-header min-height-100 border-radius-xl " style="background-image: url('../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
          <span class="mask  opacity-6"></span>
          <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item " aria-current="page">View Progress</li>
                  <li class="breadcrumb-item active" aria-current="page">Filter Report</li>
                </ol>
              </nav>
          </div>
        </div>
       
      </div>
    <div class="container-fluid">
        <div class="page-header min-height-100 border-radius-xl" style="background-image: url('../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
          <span class="mask  opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
          <div class="row ">
           
      
            <div class="col-md-12 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                  <li class="nav-item">
                   
                    <h6><button class="btn bg-gradient-secondary mt-3  waves-effect waves-light" onclick="toggleDiv5()"><i class="fa fa-search"></i>By Output</button></h6>
              
                  </li>
                  <li class="nav-item">
                   
                    <h6><button class="btn bg-gradient-secondary mt-3  waves-effect waves-light" onclick="toggleDiv()"><i class="fa fa-search"></i> By Activity</button></h6>
              
                  </li>
                
                  
                  <li class="nav-item">
                  
                    <h6><button class="btn bg-gradient-secondary mt-3  waves-effect waves-light" onclick="toggleDiv2()"><i class="fa fa-search"></i> By Target Group</button></h6>
           
                  </li>
               
                  <li class="nav-item">
                
                    <h6><button class="btn bg-gradient-secondary mt-3  waves-effect waves-light" onclick="toggleDiv3()"><i class="fa fa-search"></i> By Report Type</button></h6>
           
                  </li>
                  <li class="nav-item">
                  
                    <h6><button class="btn bg-gradient-secondary mt-3  waves-effect waves-light" onclick="toggleDiv4()"><i class="fa fa-search"></i> By Departments</button></h6>
           
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    <div class="container-fluid ">
      <%- include('./partials/messages') %>
      <div class="col-12 mt-2 ">
        <div class="card">
          <div class="card-body mb-3" style="display: none;" id="myDiv5">
            <label >Filter By Output</label>
            <form action="/stvcpms/filtersearchforprogressreportbymajoract" method="post">
              <div class="col-md-8 offset-md-2">
                <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label >Please Select Plan</label>
                 </div>
                 <div class="col-md-8">
                  <select  class="form-control" id="planSelect5" name="planid" onchange="updateGoals5()">
                    <option value="0" >Please Select Plan</option>
                 <% if(allplans.length >0 ){%>
                    <% allplans.forEach(function(row){ %>
                    
                     <option value="<%= row.planid %>"><%= row.plantitle %></option>
                    <% }) %>
                 <%} %>
                  </select>
                 </div>
                </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Please Select Goal</label>
                    </div>
                    <div class="col-md-8">
                      <select id="goalSelect5" onchange="updateDirection5()"class="form-control" name="sgoalid">
                        <option value="0" >Please Select Goal</option>
                        <!-- Options will be dynamically populated here -->
                      </select>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
      
                  <div class="row">
                    <div class="col-md-4">
                      <label>Please Select Outcome</label>
                    </div>
                    <div class="col-md-8">
                      <select id="directionSelect5" class="form-control" onchange="updateMajor5()" name="sdirid">
                        <option value="0" >Please Select Outcome</option>
                        <!-- Options will be dynamically populated here -->
                      </select>
                    </div>
                  </div>
                   
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Please Select Output</label>
                    </div>
                    <div class="col-md-8">
                      <select id="majorActivitySelect5" class="form-control"  name="mactivityid">
                        <option value="0" >Please Select Output</option>
                        <!-- Options will be dynamically populated here -->
                      </select>
                    </div>
                  </div>
                   
                </div>
               
                <div class="col-md-6 offset-md-2">
      
                 <button class="btn btn-sm btn-primary btn-block">Search</button>
                    
              </div>
                <script>
                    function updateGoals5() {
                      var planSelect = document.getElementById("planSelect5");
                      var goalSelect = document.getElementById("goalSelect5");
                      var selectedPlanId = planSelect.value;
                  
                      // Clear previous options
                      removeAllOptions(goalSelect);
                      // Fetch goals based on the selected plan ID
                      fetch('/stvcpms/goals/' + selectedPlanId)
                        .then(response => response.json())
                        .then(goals => {
                          // Generate new options based on the fetched goals
                          goals.forEach((goal) => {
                            var option = document.createElement("option");
                            option.value = goal.sgoalid;
                            option.textContent = goal.sgoaltitle;
                            goalSelect.appendChild(option);
                          });
                        })
                        .catch(error => {
                          console.log(error);
                        });
                    }
                  
                    function updateDirection5() {
                      var goalSelect = document.getElementById("goalSelect5");
                      var directionSelect = document.getElementById("directionSelect5");
                      var goalSelect = goalSelect.value;
                      removeAllOptions(directionSelect);
                      // Clear previous options     // Fetch major activities based on the selected goal ID
                      fetch('/stvcpms/direction/' + goalSelect)
                        .then(response => response.json())
                        .then(majorActivities => {
                          // Generate new options based on the fetched major activities
                          majorActivities.forEach((majorActivity) => {
                            var option = document.createElement("option");
                            option.value = majorActivity.sdirid;
                            option.textContent = majorActivity.sdirtitle;
                            directionSelect.appendChild(option);
                          });
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    }
                    
                    function updateMajor5() {
                      var directionSelect = document.getElementById("directionSelect5");
                      var majorActivitySelect = document.getElementById("majorActivitySelect5");
                      var goalSelect = directionSelect.value;
                      removeAllOptions(majorActivitySelect);
                      // Clear previous options
                   
                      // Fetch major activities based on the selected goal ID
                      fetch('/stvcpms/major-activities/' + goalSelect)
                        .then(response => response.json())
                        .then(majorActivities => {
                          // Generate new options based on the fetched major activities
                          majorActivities.forEach((majorActivity) => {
                            var option = document.createElement("option");
                            option.value = majorActivity.mactivityid;
                            option.textContent = majorActivity.mactivitytitle;
                            majorActivitySelect.appendChild(option);
                          });
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    }
                    
                  

                    function removeAllOptions(selectElement) {
        var i;
        for (i = selectElement.options.length - 1; i >= 1; i--) {
          selectElement.remove(i);
        }
      }
    
                  </script>
                  
                  
              </div> 
            </form>
             


              </div>
            <div class="card-body mb-3" style="display: none;" id="myDiv">
              <label >Filter By Activity</label>
              <form action="/stvcpms/filtersearchforprogressreport" method="post">
                <div class="col-md-8 offset-md-2">
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label >Please Select Plan</label>
                   </div>
                   <div class="col-md-8">
                    <select  class="form-control" id="planSelect" name="planid" onchange="updateGoals()">
                      <option value="0" >Please Select Plan</option>
                   <% if(allplans.length >0 ){%>
                      <% allplans.forEach(function(row){ %>
                      
                       <option value="<%= row.planid %>"><%= row.plantitle %></option>
                      <% }) %>
                   <%} %>
                    </select>
                   </div>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Please Select Goal</label>
                      </div>
                      <div class="col-md-8">
                        <select id="goalSelect" onchange="updateDirection()"class="form-control" name="sgoalid">
                          <option value="0" >Please Select Goal</option>
                          <!-- Options will be dynamically populated here -->
                        </select>
                      </div>
                    </div>
                    
                  </div>
                  <div class="form-group">
        
                    <div class="row">
                      <div class="col-md-4">
                        <label>Please Select Outcome</label>
                      </div>
                      <div class="col-md-8">
                        <select id="directionSelect" class="form-control" onchange="updateMajor()" name="sdirid">
                          <option value="0" >Please Select Outcome</option>
                          <!-- Options will be dynamically populated here -->
                        </select>
                      </div>
                    </div>
                     
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Please Select Output</label>
                      </div>
                      <div class="col-md-8">
                        <select id="majorActivitySelect" class="form-control" onchange="updateDetail()" name="mactivityid">
                          <option value="0" >Please Select Output</option>
                          <!-- Options will be dynamically populated here -->
                        </select>
                      </div>
                    </div>
                     
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label>Please Select Activity</label>
                      </div>
                      <div class="col-md-8">
                        <select id="detailActivitySelect" class="form-control" name="dactivityid">
                          <option value="0" >Please Select Activity</option>
                          <!-- Options will be dynamically populated here -->
                        </select>
                      </div>
                    </div>
                     
                        
                  </div>
                  <div class="col-md-6 offset-md-2">
        
                   <button class="btn btn-sm btn-primary btn-block">Search</button>
                      
                </div>
                  <script>
                      function updateGoals() {
                        var planSelect = document.getElementById("planSelect");
                        var goalSelect = document.getElementById("goalSelect");
                        var selectedPlanId = planSelect.value;
                    
                        // Clear previous options
                        removeAllOptions(goalSelect);
                        // Fetch goals based on the selected plan ID
                        fetch('/stvcpms/goals/' + selectedPlanId)
                          .then(response => response.json())
                          .then(goals => {
                            // Generate new options based on the fetched goals
                            goals.forEach((goal) => {
                              var option = document.createElement("option");
                              option.value = goal.sgoalid;
                              option.textContent = goal.sgoaltitle;
                              goalSelect.appendChild(option);
                            });
                          })
                          .catch(error => {
                            console.log(error);
                          });
                      }
                    
                      function updateDirection() {
                        var goalSelect = document.getElementById("goalSelect");
                        var directionSelect = document.getElementById("directionSelect");
                        var goalSelect = goalSelect.value;
                        removeAllOptions(directionSelect);
                        // Clear previous options     // Fetch major activities based on the selected goal ID
                        fetch('/stvcpms/direction/' + goalSelect)
                          .then(response => response.json())
                          .then(majorActivities => {
                            // Generate new options based on the fetched major activities
                            majorActivities.forEach((majorActivity) => {
                              var option = document.createElement("option");
                              option.value = majorActivity.sdirid;
                              option.textContent = majorActivity.sdirtitle;
                              directionSelect.appendChild(option);
                            });
                          })
                          .catch(error => {
                              console.log(error);
                          });
                      }
                      
                      function updateMajor() {
                        var directionSelect = document.getElementById("directionSelect");
                        var majorActivitySelect = document.getElementById("majorActivitySelect");
                        var goalSelect = directionSelect.value;
                        removeAllOptions(majorActivitySelect);
                        // Clear previous options
                     
                        // Fetch major activities based on the selected goal ID
                        fetch('/stvcpms/major-activities/' + goalSelect)
                          .then(response => response.json())
                          .then(majorActivities => {
                            // Generate new options based on the fetched major activities
                            majorActivities.forEach((majorActivity) => {
                              var option = document.createElement("option");
                              option.value = majorActivity.mactivityid;
                              option.textContent = majorActivity.mactivitytitle;
                              majorActivitySelect.appendChild(option);
                            });
                          })
                          .catch(error => {
                              console.log(error);
                          });
                      }
                      
                      function updateDetail() {
                        var majorSelect = document.getElementById("majorActivitySelect");
                        var detailActivitySelect = document.getElementById("detailActivitySelect");
                        var majorSelectval = majorSelect.value;
                    
                        // Clear previous options
                     
                        removeAllOptions(detailActivitySelect);
                        // Fetch major activities based on the selected goal ID
                        fetch('/stvcpms/detail-activities/' + majorSelectval)
                          .then(response => response.json())
                          .then(majorActivities => {
                            // Generate new options based on the fetched major activities
                            majorActivities.forEach((majorActivity) => {
                              var option = document.createElement("option");
                              option.value = majorActivity.dactivityid;
                              option.textContent = majorActivity.dactivitytitle;
                              detailActivitySelect.appendChild(option);
                            });
                          })
                          .catch(error => {
                              console.log(error);
                          });
                      }
                      function removeAllOptions(selectElement) {
          var i;
          for (i = selectElement.options.length - 1; i >= 1; i--) {
            selectElement.remove(i);
          }
        }
      
                    </script>
                    
                    
                </div> 
              </form>
               


                </div>
                <div class="card-body mb-3" style="display: none;" id="myDiv2">
                  <label >Filter By Target Group</label>
                  <form action="/stvcpms/filtersearchforprogressreporttargetgroup" method="post">
                    <div class="col-md-8 offset-md-2">
                      <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label >Please Select Plan</label>
                       </div>
                       <div class="col-md-8">
                        <select  class="form-control" id="planSelect2" name="planid" onchange="updateGoals2()">
                          <option value="0" >Please Select Plan</option>
                       <% if(allplans.length >0 ){%>
                          <% allplans.forEach(function(row){ %>
                          
                           <option value="<%= row.planid %>"><%= row.plantitle %></option>
                          <% }) %>
                       <%} %>
                        </select>
                       </div>
                      </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Please Select Goal</label>
                          </div>
                          <div class="col-md-8">
                            <select id="goalSelect2" onchange="updateDirection2()"class="form-control" name="sgoalid">
                              <option value="0" >Please Select Goal</option>
                              <!-- Options will be dynamically populated here -->
                            </select>
                          </div>
                        </div>
                        
                      </div>
                      <div class="form-group">
            
                        <div class="row">
                          <div class="col-md-4">
                            <label>Please Select Outcome</label>
                          </div>
                          <div class="col-md-8">
                            <select id="directionSelect2" class="form-control" onchange="updateMajor2()" name="sdirid">
                              <option value="0" >Please Select Outcome</option>
                              <!-- Options will be dynamically populated here -->
                            </select>
                          </div>
                        </div>
                         
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Please Select Output</label>
                          </div>
                          <div class="col-md-8">
                            <select id="majorActivitySelect2" class="form-control" onchange="updateDetail2()" name="mactivityid">
                              <option value="0" >Please Select Output</option>
                              <!-- Options will be dynamically populated here -->
                            </select>
                          </div>
                        </div>
                         
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Please Select Activity</label>
                          </div>
                          <div class="col-md-8">
                            <select id="detailActivitySelect2" class="form-control" name="dactivityid">
                              <option value="0" >Please Select Activity</option>
                              <!-- Options will be dynamically populated here -->
                            </select>
                          </div>
                        </div>
                         
                            
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                            <label>Please select Target Group</label>
                          </div>
                          <div class="col-md-8">
                            <select id="targetgroup" class="form-control" name="targetgroup">
                              <option value="0" >please select Target Group</option>
                              <% targetgroup.forEach(function (row){%>
                                <option value="<%= row.targetgid %>" ><%= row.targetgroupname %></option>
                              <%})%>
                              <!-- Options will be dynamically populated here -->
                            </select>
                          </div>
                        </div>
                         
                            
                      </div>
                      <div class="col-md-6 offset-md-2">
            
                       <button class="btn btn-sm btn-primary btn-block">Search</button>
                          
                    </div>
                      <script>
                          function updateGoals2() {
                            var planSelect = document.getElementById("planSelect2");
                            var goalSelect = document.getElementById("goalSelect2");
                            var selectedPlanId = planSelect.value;
                        
                            // Clear previous options
                            removeAllOptions2(goalSelect);
                            // Fetch goals based on the selected plan ID
                            fetch('/stvcpms/goals/' + selectedPlanId)
                              .then(response => response.json())
                              .then(goals => {
                                // Generate new options based on the fetched goals
                                goals.forEach((goal) => {
                                  var option = document.createElement("option");
                                  option.value = goal.sgoalid;
                                  option.textContent = goal.sgoaltitle;
                                  goalSelect.appendChild(option);
                                });
                              })
                              .catch(error => {
                                console.log(error);
                              });
                          }
                        
                          function updateDirection2() {
                            var goalSelect = document.getElementById("goalSelect2");
                            var directionSelect = document.getElementById("directionSelect2");
                            var goalSelect = goalSelect.value;
                            removeAllOptions2(directionSelect);
                            // Clear previous options     // Fetch major activities based on the selected goal ID
                            fetch('/stvcpms/direction/' + goalSelect)
                              .then(response => response.json())
                              .then(majorActivities => {
                                // Generate new options based on the fetched major activities
                                majorActivities.forEach((majorActivity) => {
                                  var option = document.createElement("option");
                                  option.value = majorActivity.sdirid;
                                  option.textContent = majorActivity.sdirtitle;
                                  directionSelect.appendChild(option);
                                });
                              })
                              .catch(error => {
                                  console.log(error);
                              });
                          }
                          
                          function updateMajor2() {
                            var directionSelect = document.getElementById("directionSelect2");
                            var majorActivitySelect = document.getElementById("majorActivitySelect2");
                            var goalSelect = directionSelect.value;
                            removeAllOptions2(majorActivitySelect);
                            // Clear previous options
                         
                            // Fetch major activities based on the selected goal ID
                            fetch('/stvcpms/major-activities/' + goalSelect)
                              .then(response => response.json())
                              .then(majorActivities => {
                                // Generate new options based on the fetched major activities
                                majorActivities.forEach((majorActivity) => {
                                  var option = document.createElement("option");
                                  option.value = majorActivity.mactivityid;
                                  option.textContent = majorActivity.mactivitytitle;
                                  majorActivitySelect.appendChild(option);
                                });
                              })
                              .catch(error => {
                                  console.log(error);
                              });
                          }
                          
                          function updateDetail2() {
                            var majorSelect = document.getElementById("majorActivitySelect2");
                            var detailActivitySelect = document.getElementById("detailActivitySelect2");
                            var majorSelectval = majorSelect.value;
                        
                            // Clear previous options
                         
                            removeAllOptions2(detailActivitySelect);
                            // Fetch major activities based on the selected goal ID
                            fetch('/stvcpms/detail-activities/' + majorSelectval)
                              .then(response => response.json())
                              .then(majorActivities => {
                                // Generate new options based on the fetched major activities
                                majorActivities.forEach((majorActivity) => {
                                  var option = document.createElement("option");
                                  option.value = majorActivity.dactivityid;
                                  option.textContent = majorActivity.dactivitytitle;
                                  detailActivitySelect.appendChild(option);
                                });
                              })
                              .catch(error => {
                                  console.log(error);
                              });
                          }
                          function removeAllOptions2(selectElement) {
              var i;
              for (i = selectElement.options.length - 1; i >= 1; i--) {
                selectElement.remove(i);
              }
            }
          
                        </script>
                        
                        
                    </div> 
                  </form>
                   
    
    
                    </div>
                    <div class="card-body mb-3" style="display: none;" id="myDiv3">
                      <label >Filter By Report Type</label>
                      <form action="/stvcpms/filtersearchforprogressreportbytype" method="post">
                        <div class="col-md-8 offset-md-2">
                          <div class="form-group">
                          <div class="row">
                            <div class="col-md-4">
                              <label >Please Select Plan</label>
                           </div>
                           <div class="col-md-8">
                            <select  class="form-control" id="planSelect3" name="planid" onchange="updateGoals3()">
                              <option value="0" >Please Select Plan</option>
                           <% if(allplans.length >0 ){%>
                              <% allplans.forEach(function(row){ %>
                              
                               <option value="<%= row.planid %>"><%= row.plantitle %></option>
                              <% }) %>
                           <%} %>
                            </select>
                           </div>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please Select  Goal</label>
                              </div>
                              <div class="col-md-8">
                                <select id="goalSelect3" onchange="updateDirection3()"class="form-control" name="sgoalid">
                                  <option value="0" >Please Select  Goal</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                            
                          </div>
                          <div class="form-group">
                
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please Select Outcome</label>
                              </div>
                              <div class="col-md-8">
                                <select id="directionSelect3" class="form-control" onchange="updateMajor3()" name="sdirid">
                                  <option value="0" >Please Select Outcome</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please Select Output</label>
                              </div>
                              <div class="col-md-8">
                                <select id="majorActivitySelect3" class="form-control" onchange="updateDetail3()" name="mactivityid">
                                  <option value="0" >Please Select Output</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please select  Activity</label>
                              </div>
                              <div class="col-md-8">
                                <select id="detailActivitySelect3" class="form-control" name="dactivityid">
                                  <option value="0" >Please Select Activity</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                                
                          </div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please select Report Type</label>
                              </div>
                              <div class="col-md-8">
                                <select id="reporttype" class="form-control" name="reporttype" onchange="showOptions(this)">
                                  <option value="0" >Please Select Report Type</option>
                                  <option value="Monthly">Monthly</option>
                                  <option value="Quarter">Quarter</option>
                                
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                                
                          </div>
                          <div class="form-group" id="months" style="display: none;">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please Select Month</label>
                              </div>
                              <div class="col-md-8">
                                <select id="month" class="form-control" name="month">
                                  <option value="0" >please select month</option>
                                  <option value="january">January</option>
                                  <option value="february">February</option>
                                  <option value="march">March</option>
                                  <option value="april">April</option>
                                  <option value="may">May</option>
                                  <option value="june">June</option>
                                  <option value="july">July</option>
                                  <option value="augest">Augest</option>
                                  <option value="september">September</option>
                                  <option value="october">October</option>
                                  <option value="november">November</option>
                                  <option value="december">December</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                                
                          </div>
                          <div class="form-group" id="quarters" style="display: none;">
                            <div class="row">
                              <div class="col-md-4">
                                <label>Please Select Quarter</label>
                              </div>
                              <div class="col-md-8">
                                <select id="quarter" class="form-control" name="quarter">
                                  <option value="0" >please select quarter</option>
                                  <option>1st_Quarter</option>
                                  <option>2st_Quarter</option>
                                  <option>3st_Quarter</option>
                                  <option>4st_Quarter</option>
                                  <!-- Options will be dynamically populated here -->
                                </select>
                              </div>
                            </div>
                             
                                
                          </div>
                          
                          <div class="col-md-6 offset-md-2">
                
                           <button class="btn btn-sm btn-primary btn-block">Search</button>
                              
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script>
                          function showOptions(selectElement) {
    var selectedReportType = selectElement.value;
    var monthDropdown = document.getElementById('months');
    var quarterDropdown = document.getElementById('quarters');

    // Hide all dropdowns initially
    monthDropdown.style.display = 'none';
    quarterDropdown.style.display = 'none';

    // Show the relevant dropdown based on the selected report type
    if (selectedReportType === 'Monthly') {
      monthDropdown.style.display = 'block';
    } else if (selectedReportType === 'Quarter') {
      quarterDropdown.style.display = 'block';
    }
  }
                        </script>
                        
                          <script>
                              function updateGoals3() {
                                var planSelect = document.getElementById("planSelect3");
                                var goalSelect = document.getElementById("goalSelect3");
                                var selectedPlanId = planSelect.value;
                            
                                // Clear previous options
                                removeAllOptions3(goalSelect);
                                // Fetch goals based on the selected plan ID
                                fetch('/stvcpms/goals/' + selectedPlanId)
                                  .then(response => response.json())
                                  .then(goals => {
                                    // Generate new options based on the fetched goals
                                    goals.forEach((goal) => {
                                      var option = document.createElement("option");
                                      option.value = goal.sgoalid;
                                      option.textContent = goal.sgoaltitle;
                                      goalSelect.appendChild(option);
                                    });
                                  })
                                  .catch(error => {
                                    console.log(error);
                                  });
                              }
                            
                              function updateDirection3() {
                                var goalSelect = document.getElementById("goalSelect3");
                                var directionSelect = document.getElementById("directionSelect3");
                                var goalSelect = goalSelect.value;
                                removeAllOptions3(directionSelect);
                                // Clear previous options     // Fetch major activities based on the selected goal ID
                                fetch('/stvcpms/direction/' + goalSelect)
                                  .then(response => response.json())
                                  .then(majorActivities => {
                                    // Generate new options based on the fetched major activities
                                    majorActivities.forEach((majorActivity) => {
                                      var option = document.createElement("option");
                                      option.value = majorActivity.sdirid;
                                      option.textContent = majorActivity.sdirtitle;
                                      directionSelect.appendChild(option);
                                    });
                                  })
                                  .catch(error => {
                                      console.log(error);
                                  });
                              }
                              
                              function updateMajor3() {
                                var directionSelect = document.getElementById("directionSelect3");
                                var majorActivitySelect = document.getElementById("majorActivitySelect3");
                                var goalSelect = directionSelect.value;
                                removeAllOptions3(majorActivitySelect);
                                // Clear previous options
                             
                                // Fetch major activities based on the selected goal ID
                                fetch('/stvcpms/major-activities/' + goalSelect)
                                  .then(response => response.json())
                                  .then(majorActivities => {
                                    // Generate new options based on the fetched major activities
                                    majorActivities.forEach((majorActivity) => {
                                      var option = document.createElement("option");
                                      option.value = majorActivity.mactivityid;
                                      option.textContent = majorActivity.mactivitytitle;
                                      majorActivitySelect.appendChild(option);
                                    });
                                  })
                                  .catch(error => {
                                      console.log(error);
                                  });
                              }
                              
                              function updateDetail3() {
                                var majorSelect = document.getElementById("majorActivitySelect3");
                                var detailActivitySelect = document.getElementById("detailActivitySelect3");
                                var majorSelectval = majorSelect.value;
                            
                                // Clear previous options
                             
                                removeAllOptions3(detailActivitySelect);
                                // Fetch major activities based on the selected goal ID
                                fetch('/stvcpms/detail-activities/' + majorSelectval)
                                  .then(response => response.json())
                                  .then(majorActivities => {
                                    // Generate new options based on the fetched major activities
                                    majorActivities.forEach((majorActivity) => {
                                      var option = document.createElement("option");
                                      option.value = majorActivity.dactivityid;
                                      option.textContent = majorActivity.dactivitytitle;
                                      detailActivitySelect.appendChild(option);
                                    });
                                  })
                                  .catch(error => {
                                      console.log(error);
                                  });
                              }
                              function removeAllOptions3(selectElement) {
                  var i;
                  for (i = selectElement.options.length - 1; i >= 1; i--) {
                    selectElement.remove(i);
                  }
                }
              
                            </script>
                            
                            
                        </div> 
                      </form>
                       
        
        
                        </div>
                        <div class="card-body mb-3" style="display: none;" id="myDiv4">
                          <label >Filter By Department</label>
                          <form action="/stvcpms/filtersearchforprogressreportdepartment" method="post">
                            <div class="col-md-8 offset-md-2">
                              <div class="form-group">
                              <div class="row">
                                <div class="col-md-4">
                                  <label >Please Select Plan</label>
                               </div>
                               <div class="col-md-8">
                                <select  class="form-control" id="planSelect4" name="planid" onchange="updateGoals4()">
                                  <option value="0" >Please Select Plan</option>
                               <% if(allplans.length >0 ){%>
                                  <% allplans.forEach(function(row){ %>
                                  
                                   <option value="<%= row.planid %>"><%= row.plantitle %></option>
                                  <% }) %>
                               <%} %>
                                </select>
                               </div>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Please Select Goal</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select id="goalSelect4" onchange="updateDirection4()"class="form-control" name="sgoalid">
                                      <option value="0" >Please Select Goal</option>
                                      <!-- Options will be dynamically populated here -->
                                    </select>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="form-group">
                    
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Please Select Outcome</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select id="directionSelect4" class="form-control" onchange="updateMajor4()" name="sdirid">
                                      <option value="0" >Please Select Outcome</option>
                                      <!-- Options will be dynamically populated here -->
                                    </select>
                                  </div>
                                </div>
                                 
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Please Select Output</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select id="majorActivitySelect4" class="form-control" onchange="updateDetail4()" name="mactivityid">
                                      <option value="0" >Please Select Output</option>
                                      <!-- Options will be dynamically populated here -->
                                    </select>
                                  </div>
                                </div>
                                 
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Please Select Activity</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select id="detailActivitySelect4" class="form-control" name="dactivityid">
                                      <option value="0" >Please Select Activity</option>
                                      <!-- Options will be dynamically populated here -->
                                    </select>
                                  </div>
                                </div>
                                 
                                    
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  <div class="col-md-4">
                                    <label>Please Select Department</label>
                                  </div>
                                  <div class="col-md-8">
                                    <select id="targetgroup" class="form-control" name="department">
                                      <option value="0" >Please Select Department</option>
                                      <% departments.forEach(function (row){%>
                                        <option value="<%= row.departmentid %>" ><%= row.departmentname %></option>
                                      <%})%>
                                      <!-- Options will be dynamically populated here -->
                                    </select>
                                  </div>
                                </div>
                                 
                                    
                              </div>
                              <div class="col-md-6 offset-md-2">
                    
                               <button class="btn btn-sm btn-primary btn-block">Search</button>
                                  
                            </div>
                              <script>
                                  function updateGoals4() {
                                    var planSelect = document.getElementById("planSelect4");
                                    var goalSelect = document.getElementById("goalSelect4");
                                    var selectedPlanId = planSelect.value;
                                
                                    // Clear previous options
                                    removeAllOptions4(goalSelect);
                                    // Fetch goals based on the selected plan ID
                                    fetch('/stvcpms/goals/' + selectedPlanId)
                                      .then(response => response.json())
                                      .then(goals => {
                                        // Generate new options based on the fetched goals
                                        goals.forEach((goal) => {
                                          var option = document.createElement("option");
                                          option.value = goal.sgoalid;
                                          option.textContent = goal.sgoaltitle;
                                          goalSelect.appendChild(option);
                                        });
                                      })
                                      .catch(error => {
                                        console.log(error);
                                      });
                                  }
                                
                                  function updateDirection4() {
                                    var goalSelect = document.getElementById("goalSelect4");
                                    var directionSelect = document.getElementById("directionSelect4");
                                    var goalSelect = goalSelect.value;
                                    removeAllOptions4(directionSelect);
                                    // Clear previous options     // Fetch major activities based on the selected goal ID
                                    fetch('/stvcpms/direction/' + goalSelect)
                                      .then(response => response.json())
                                      .then(majorActivities => {
                                        // Generate new options based on the fetched major activities
                                        majorActivities.forEach((majorActivity) => {
                                          var option = document.createElement("option");
                                          option.value = majorActivity.sdirid;
                                          option.textContent = majorActivity.sdirtitle;
                                          directionSelect.appendChild(option);
                                        });
                                      })
                                      .catch(error => {
                                          console.log(error);
                                      });
                                  }
                                  
                                  function updateMajor4() {
                                    var directionSelect = document.getElementById("directionSelect4");
                                    var majorActivitySelect = document.getElementById("majorActivitySelect4");
                                    var goalSelect = directionSelect.value;
                                    removeAllOptions4(majorActivitySelect);
                                    // Clear previous options
                                 
                                    // Fetch major activities based on the selected goal ID
                                    fetch('/stvcpms/major-activities/' + goalSelect)
                                      .then(response => response.json())
                                      .then(majorActivities => {
                                        // Generate new options based on the fetched major activities
                                        majorActivities.forEach((majorActivity) => {
                                          var option = document.createElement("option");
                                          option.value = majorActivity.mactivityid;
                                          option.textContent = majorActivity.mactivitytitle;
                                          majorActivitySelect.appendChild(option);
                                        });
                                      })
                                      .catch(error => {
                                          console.log(error);
                                      });
                                  }
                                  
                                  function updateDetail4() {
                                    var majorSelect = document.getElementById("majorActivitySelect4");
                                    var detailActivitySelect = document.getElementById("detailActivitySelect4");
                                    var majorSelectval = majorSelect.value;
                                
                                    // Clear previous options
                                 
                                    removeAllOptions4(detailActivitySelect);
                                    // Fetch major activities based on the selected goal ID
                                    fetch('/stvcpms/detail-activities/' + majorSelectval)
                                      .then(response => response.json())
                                      .then(majorActivities => {
                                        // Generate new options based on the fetched major activities
                                        majorActivities.forEach((majorActivity) => {
                                          var option = document.createElement("option");
                                          option.value = majorActivity.dactivityid;
                                          option.textContent = majorActivity.dactivitytitle;
                                          detailActivitySelect.appendChild(option);
                                        });
                                      })
                                      .catch(error => {
                                          console.log(error);
                                      });
                                  }
                                  function removeAllOptions4(selectElement) {
                      var i;
                      for (i = selectElement.options.length - 1; i >= 1; i--) {
                        selectElement.remove(i);
                      }
                    }
                  
                                </script>
                                
                                
                            </div> 
                          </form>
                           
            
            
                            </div>
        </div>
        <script>
           var div1 = document.getElementById("myDiv");
           var div2 = document.getElementById("myDiv2");
           var div3 = document.getElementById("myDiv3");
           var div4 = document.getElementById("myDiv4");
           var div5 = document.getElementById("myDiv5");
            function toggleDiv() {
            
              if (div1.style.display === "none") {
                div1.style.display = "block";
                div2.style.display = "none";
                div3.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              } else {
                div1.style.display = "none";
                div2.style.display = "none";
                div3.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              }
            }
            function toggleDiv2() {
             
              if (div2.style.display === "none") {
                div2.style.display = "block";
                div1.style.display = "none";
                div3.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              } else {
                div2.style.display = "none";
                div1.style.display = "none";
                div3.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              }
            }
            function toggleDiv3() {
           
              if (div3.style.display === "none") {
                div3.style.display = "block";
                div1.style.display = "none";
                div2.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              } else {
                div3.style.display = "none";
                div1.style.display = "none";
                div2.style.display = "none";
                div4.style.display = "none";
                div5.style.display = "none";
              }
            }
            function toggleDiv4() {
           
           if (div4.style.display === "none") {
             div4.style.display = "block";
             div1.style.display = "none";
             div2.style.display = "none";
             div3.style.display = "none";
             div5.style.display = "none";
           } else {
             div3.style.display = "none";
             div1.style.display = "none";
             div4.style.display = "none";
             div2.style.display = "none";
             div5.style.display = "none";
           }
           
         }
         function toggleDiv5() {
           
           if (div4.style.display === "none") {
             div5.style.display = "block";
             div1.style.display = "none";
             div2.style.display = "none";
             div3.style.display = "none";
             div4.style.display = "none";
           } else {
             div3.style.display = "none";
             div1.style.display = "none";
             div4.style.display = "none";
             div2.style.display = "none";
             div5.style.display = "none";
           }
           
         }
          </script>
          </div>
    </div>
   
  </div>
  
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>