
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../../assets/img/favicon.png">
  <title>
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../../../../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../../../../assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <style>
    .ol {
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding: 0;
    }
    .li {
      display: table;
      counter-increment: item;
      margin-bottom: 0.6em;
    }
    .li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;
    }
    .li li {
      margin: 0;
    }
    .li li:before {
      content: counters(item, ".") " ";
    }
  </style>

</head>

<body class="g-sidenav-show bg-gray-100">
  <%- include ('./partials/sidegroup') %>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <%- include ('./partials/topadmin') %>
    <!-- End Navbar -->
    <div class="container-fluid">
      <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../../../../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
        <span class="mask  opacity-6"></span>
        <div >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Detail Activities</li>
            </ol>
          </nav>
        </div>
      </div>
    
    </div>
    <div class="container-fluid py-4">
      <%- include('./partials/messages') %>
      <div class="col-12 mt-4">
        <div class="card-body mb-4">
          <% if(plan){ %>
            <div class="d-flex flex-column h-100">
              <p class="mb-1 pt-2 text-bold" style="color: #007bff; font-size: 18px; font-weight: bold;">
                <i class="fas fa-info-circle"></i> Plan Infos
              </p>
              <h5 class="font-weight-bolder" style="color: #333; font-size: 24px;"><i class="fas fa-bookmark"></i> Plan Title: <%= plan.plantitle %></h5>
              <h5 class="font-weight-bolder" style="color: #333; font-size: 20px;"><i class="fas fa-tag"></i> Plan Code: <%= plan.plancode %></h5>
              <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-file-alt"></i> <strong>Discription:</strong> <%= plan.plandescription %></p>
              <p class="mb-2" style="color: #555; font-size: 16px;"><i class="fas fa-calendar-day"></i> Duration: <%= plan.planduration %> Days</p>
              <p class="text-body text-sm font-weight-bold mb-0" style="color: #555; font-size: 14px;">
                <i class="fas fa-calendar"></i> From:
                <span class="ml-1">
                  <%= new Date(plan.startdate).toLocaleDateString() %> 
                  <i class="fas fa-long-arrow-alt-right mx-1"></i> 
                  <%= new Date(plan.enddate).toLocaleDateString() %>
                </span>
              </p>
            </div>
          <% } %>
          </div>
          </div>
    </div>
    <div class="container-fluid">
     <% include ('./partials/messages') %>
      <div class="col-12 mt-4">
        <div class="card mb-4">
          <div class="card-header pb-0 p-3">
         
          </div>
          <div class="card-body p-3">
            <div class="row">
          
             <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      <h6 class="mb-1"> My Activity List</h6>
                    </div>
                    <div class="col-lg-6 col-5 my-auto text-end">
                      <div class="dropdown float-lg-end pe-4">
                        <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                       
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Print My Activites</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="col-md-12">
                        <% if(plan){ %>
                           <% var g = 0 ;%>
                           <% var d = 0 ;%>
                           <% var ma = 0 ;%>
                           <% var da = 0 ;%>
                             <% planid = plan.planid %>
                             <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">  
                                    <thead>
                                        <th>Is Sent</th>
                                        <th> Output Info  </th>
                                    <th> Activity Info  </th>
                                    <th> Target Indicator/ Input/ KPI  </th>
                                    <th> Registered Risk  </th>
                                    <th> Noticication  </th>
                                    <th> Progress Report  / Final Report </th>
                                    </thead>
                                    <tbody>
                                        <% if(detailkpi.length >0){ %>
                                    <% detailkpi.forEach(function (row){%>
                                 <% if(row.dactivityid){%>
                                     
                                      
                                            <tr>
                                                <td>
                                                    <%if(row.isfinalsent ==="Yes"){%>
                                                       
                                                      <input type="checkbox" checked> Report Sent
                                                 
                                                  <%}%>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <small>  Title:-    <%= row.mactivitytitle %>  <br>
                                                        Code:-   <%= row.mactivitycode %>  <br>
                                                        Description:-   <%= row.dactivitydescription %>  </small>
                                                    </td>
                                                <td class="align-middle text-center">
                                                <small> Title:-   <%= row.dactivitytitle %>  <br>
                                                    Code:- <%= row.dactivitycode %>  <br>
                                                   Description:- <%= row.dactivitydescription %> <br>
                                                    From <%= new Date(row.startdate).toLocaleDateString() %> to  <%= new Date(row.enddate).toLocaleDateString() %>
                                                </small>
                                                </td>
                                                <td class="align-middle text-center">
                                                    Indicator:  <%= row.dacttindicator %>  
                                                <br>
                                                   Indicator Input: <%= row.dacttinputtype %>
                                               <br>
                                                   KPI: <%= row.dactkpi %>      
                                                </td>
                                                <td class="align-middle text-center">
                                                    Risk:  <%= row.dactregisteredrisk %>  
                                               
                                                </td>
                                                <td class="align-middle text-center">
                                                    <%if(row.seen ==="Yes" || row.isfinalsent ==="Yes"){%>
                                                       <button type="submit" class="btn btn-block mb-2 btn-sm btn-outline-success">  <input type="checkbox" checked>Seen</button>
                                                    <%}else{%>
                                                       <form action="/stvcpms/targetgroup/updateactivitystatusseen" method="post">
                                                       <input name="dactivityid" value="<%= row.dactivityid %>" type="hidden">
                                                       <input name="planid" value="<%= planid %>" type="hidden">
                                                       
                                                       <input name="indicator" value="<%= row.dacttindicator %>" type="hidden">
                                                    
                                                       <button type="submit" class="btn btn-block mb-2 btn-sm btn-outline-info">   Send Notification</button>
                                                   
                                                       </form>
                                                         
                                                        <%}%>   
                                                <br>
                                                    <%if(row.start ==="Yes" || row.isfinalsent ==="Yes"){%>
                                                       
                                                          <button type="submit" class="btn btn-block mb-2 btn-sm btn-outline-success">   <input type="checkbox" checked> Started</button>
                                                   
                                                    <%}else{%>
                                                        <form action="/stvcpms/targetgroup/updateactivitystatusstarted" method="post">
                                                            <input name="dactivityid" value="<%= row.dactivityid %>" type="hidden">
                                                            <input name="planid" value="<%= planid %>" type="hidden">
                                                                  
                                                       <input name="indicator" value="<%= row.dacttindicator %>" type="hidden">
                                                    
                                                          <button type="submit" class="btn btn-block mb-2 btn-sm btn-outline-info">     Start Activity</button>
                                                   </form>
                                                        <%}%>      
                                                </td>
                                                <td>
                                                  <% if(row.isfinalsent ==="Yes"){%>
                                                    <button  class="btn mb-2 btn-outline-success btn-sm mb-0 btn-block"  ><input type="checkbox" checked>
                                                    Progress Report Sent
                                                    </button>
                                                  <%}else{%>
                                                    <button  class="btn mb-2 btn-outline-primary btn-sm mb-0 btn-block" data-toggle="modal" data-target="#myModal" data-togglerplan ="<%= planid %>" data-toggler="<%= row.dactivityid %>" data-toggler5="<%= row.dacttindicator %>"  data-toggler3="<%= row.dactkpi %>" data-toggler2="<%= row.dacttinputtype %>" data-toggler4="<%= row.dactivitytitle %>" >
                                                      Add Progress Report
                                                    </button>
                                                   <%}%>
                                                   
                                                    
                                                <br>
                                                <% if(row.isfinalsent ==="Yes"){%>
                                                  <button  class="btn mb-2 btn-outline-success btn-sm mb-0 btn-block"  ><input type="checkbox" checked>
                                                    Final Report Sent
                                                  </button>
                                                <%}else{%>
                                                  <button  class="btn mb-2 btn-outline-success btn-sm mb-0 btn-block" data-toggle="modal" data-target="#myModal2" data-togglerplan ="<%= planid %>" data-toggler="<%= row.dactivityid %>" data-toggler5="<%= row.dacttindicator %>"  data-toggler3="<%= row.dactkpi %>" data-toggler2="<%= row.dacttinputtype %>" data-toggler4="<%= row.dactivitytitle %>" >
                                                    Add Final Report
                                                  </button>
                                                 <%}%>
                                               
                                                </td>
                                            </tr>
                                         
                                   
                                 <%}%>
                                 <%})}else{%>
                                    <tr>No KPI IS FOUND</tr>
                                    <%}%>
                                </tbody>
                                </table>
                             </div>
                           
                                        
                            <% }else{}%>
                      </div> 
                </div>
              </div>
           
            
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Progress Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      

        <form action="/stvcpms/targetgroup/sendprogressreport" method="post">
          <div class="modal-body">
        
            <div class="d-flex flex-column ">
              <p class="mb-1 pt-2 text-bold"><small>Detail Activity Infos</small></p>
            <small>Detail Activity Title:<span class="title"></span></small>
            <small>Detail Activity KPI Indicator:<span class="kpiindicator"></span></small>
              <small>Detail Activity KPI Input:<span class="kpiinput"></span></small>
              <small>Detail Activity KPI:<span class="kpi"></span></small>
             
            </div>
        
          <input type="hidden" class="js-toggler__input" value="" name="dactivityid" >
          <input type="hidden" class="indicatorv" value="" name="indicatorv" >
          <input type="hidden" class="indicatorinputv" value="" name="indicatorinputv" >
          <input type="hidden" class="kpiinputv" value="" name="kpiinputv" >
          <input type="hidden" class="planid" value="" name="planid" >
          <label>Please select report type</label>
           <select name="reporttype" class="form-control mt-2 mb-3"  onchange="showDiv(this)">
              <option value="0">Please select progress report type</option>
              <option value="Monthly">Monthly</option>
              <option value="Quarter">Quarter</option>
             
            
           </select>
           <div class="form-group" id="monthDiv" style="display: none;">
            <div class="row">
              <div class="col-md-4">
                <label>Please select month</label>
              </div>
              <div class="col-md-8">
                <select id="month" class="form-control" name="month">
                  <option value="0" >please select report month</option>
                  <option value="january">January</option>
                  <option value="february">February</option>
                  <option value="march">March</option>
                  <option value="april">April</option>
                  <option value="may">May</option>
                  <option value="june">June</option>
                  <option value="july">July</option>
                  <option value="augest">Augest</option>
                  <option value="september">September</option>
                  <option value="october">October</option>
                  <option value="november">November</option>
                  <option value="december">December</option>
                  <!-- Options will be dynamically populated here -->
                </select>
              </div>
            </div>
             
                
          </div>
          <div class="form-group" id="quarterDiv" style="display: none;">
            <div class="row">
              <div class="col-md-4">
                <label>Please select quarter</label>
              </div>
              <div class="col-md-8">
                <select id="quarter" class="form-control" name="quarter">
                  <option value="0" >please select quarter</option>
                  <option>1st_Quarter</option>
                  <option>2st_Quarter</option>
                  <option>3st_Quarter</option>
                  <option>4st_Quarter</option>
                  <!-- Options will be dynamically populated here -->
                </select>
              </div>
            </div>
             
          </div>
          
          <script>
             const mdiv = document.getElementById('monthDiv');
             const qdiv = document.getElementById('quarterDiv');
           //  const rtv = document.getElementById('reporttype');
            function showDiv(rtv){
                     if(rtv.value ==="Monthly"){
                     mdiv.style.display='block'
                     qdiv.style.display='none'
                     }else if(rtv.value ==='Quarter'){
                      qdiv.style.display='block'
                     mdiv.style.display='none'
                     }else{
                      mdiv.style.display='none'
                     qdiv.style.display='none'
                     }
            }
          </script>
            <label> <code>
              Please Enter Your Indicator Input Heare First (Use Number for (Input type Number,Ratio,Percentage)) If Text Omit it
            </code></label>
              <input type="number" class="form-control" value="" name="responseninput" >
         
          <textarea type="text" class="form-control  mb-2 mt-2" name="progressreport" placeholder="Progrss Report" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
         
           <textarea type="text" class="form-control  mb-2 mt-2" name="remark" placeholder="Remark" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
            
          
         
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal2" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Final Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      

        <form action="/stvcpms/targetgroup/sendfinalreport" method="post">
          <div class="modal-body">
        
              <div class="d-flex flex-column ">
                <p class="mb-1 pt-2 text-bold"><small>Detail Activity Infos</small></p>
              <small>Detail Activity Title:<span class="title"></span></small>
              <small>Detail Activity KPI Indicator:<span class="kpiindicator"></span></small>
                <small>Detail Activity KPI Input:<span class="kpiinput"></span></small>
                <small>Detail Activity KPI:<span class="kpi"></span></small>
               
              </div>
          
            <input type="hidden" class="js-toggler__input" value="" name="dactivityid" >
            <input type="hidden" class="indicatorv" value="" name="indicatorv" >
            <input type="hidden" class="indicatorinputv" value="" name="indicatorinputv" >
            <input type="hidden" class="kpiinputv" value="" name="kpiinputv" >
            <input type="hidden" class="planid" value="" name="planid" >
          
              <label> <code>
                Please Enter Your Indicator Input Heare First (Use Number for (Input type Number,Ratio,Percentage)) If Text Omit it
              </code></label>
                <input type="number" class="form-control" value="" name="responseninput" >
           
            <textarea type="text" class="form-control  mb-2 mt-2" name="finalreport" placeholder="Final Report" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
           
             <textarea type="text" class="form-control  mb-2 mt-2" name="remark" placeholder="Remark" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
             <code>Add challenges or risks mitigated if any?</code>
             <textarea type="text" class="form-control  mb-2 mt-2" name="risksmitigated" placeholder="Remark" aria-label="Name" rows="3" aria-describedby="email-addon"></textarea>
              
            
            
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $('[data-toggle="modal"]').on('click', function () {
      const toggler = $(this);
      const toggler_identifier = toggler.attr('data-toggler');
      const toggler_identifier2 = toggler.attr('data-toggler2');
      const toggler_identifier3 = toggler.attr('data-toggler3');
      const toggler_identifier4 = toggler.attr('data-toggler4');
      const toggler_identifier5 = toggler.attr('data-toggler5');
      const plantoggleer = toggler.attr('data-togglerplan');
      console.log(toggler_identifier3);
      let modal_id = toggler.attr('data-target');
      $(modal_id).find('.js-toggler__input').val(toggler_identifier);
      $(modal_id).find('.title').html(toggler_identifier4);
      $(modal_id).find('.kpiindicator').text(toggler_identifier5);
    $(modal_id).find('.kpiinput').text(toggler_identifier2);
    $(modal_id).find('.kpi').text(toggler_identifier3);
    $(modal_id).find('.indicatorv').val(toggler_identifier5);
    $(modal_id).find('.indicatorinputv').val(toggler_identifier2);
    $(modal_id).find('.kpiinputv').val(toggler_identifier3);
    $(modal_id).find('.planid').val(plantoggleer);
  });
  </script>
     <%- include ('./partials/footer') %>
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="../../../../assets/js/core/popper.min.js"></script>
  <script src="../../../../assets/js/core/bootstrap.min.js"></script>
  <script src="../../../../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../../../../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../../../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>